<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/admin/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link href="/styles/admin/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <%- include ('partials/header')%>

        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Users list</h2>
                <div>
                    <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control" />
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header>
                <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Status</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <%for(let i=0;i<userData.length; i++){%>
                                    <tr>
                                        <td width="40%">
                                            <a href="#" class="itemside">
                                                <div class="left">
                                                    <img src="/images/admin/imgs/people/avatar-4.png"
                                                        class="img-sm img-avatar" alt="Userpic" />
                                                </div>
                                                <div class="info pl-3">
                                                    <h6 class="mb-0 title">
                                                        <%= userData[i].username %>
                                                    </h6>
                                                    <small class="text-muted">
                                                        <%= userData[i]._id %>
                                                    </small>
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <%=userData[i].email%>
                                        </td>
                                        <td>
                                            <%=userData[i].phone%>
                                        </td>
                                        <%if(userData[i].isBlocked==false){%>
                                            <td><span class="badge rounded-pill alert-success">Active</span></td>

                                            <%}else{%>
                                                <td><span class="badge rounded-pill alert-success"
                                                        style="color: red !important">Blocked</span></td>
                                                <%}%>

                                                    <%if(userData[i].isBlocked==false){%>
                                                        <td class="text-end">
                                                            <a href="/admin/users/blockUser?id=<%= userData[i]._id %>"
                                                                class="btn btn-sm btn-brand rounded font-sm mt-15">Block</a>
                                                        </td>
                                                        <%}else{%>
                                                            <td class="text-end">
                                                                <a href="/admin/users/unblockUser?id=<%=userData[i]._id %>"
                                                                    class="btn btn-sm btn-brand rounded font-sm mt-15">Unblock</a>
                                                            </td>

                                                            <%}%>
                                    </tr>
                                    <%}%>

                            </tbody>
                        </table>



                        <!-- table-responsive.// -->
                    </div>
                </div>
                <!-- card-body end// -->
            </div>
            <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% for(let i=1;i<=totalPages;i++){%>
                            <li class="page-item <%=(i===currentPage ) ? 'active' :'' %>"><a class="page-link"
                                    href="?page=<%= i %>">
                                    <%= i %>
                                </a></li>

                            <%}%>
                               
                    </ul>
                </nav>
            </div>
        </section>

        
        <!-- content-main end// -->
        <%- include('partials/footer')%>
</body>

</html>